.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 20px;
}

input {
    width: 230px;
   
    text-align: center;
}